<form action="/" method="post">
  Bookmark title: <input type="text" name="bookmark_title"/>
  Bookmark url: <input type="text" name="bookmark_url"/>
  Bookmark tag: <input type="text" name="bookmark_tag" placeholder="#cake"/>
  <button type="submit">Add</button>
</form>
